---
import { siteConfig } from '@/utils/config';

const { accountId, formId } = siteConfig.mailerlite;
const enabled = accountId && formId;
---

{enabled && (
  <div class="my-10 py-8 px-6 border border-white-cloud dark:border-dark-cloud rounded-lg">
    <div data-form={formId} class="ml-embedded"></div>
  </div>
)}

{enabled && (
  <script is:inline define:vars={{ accountId }}>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', accountId);
  </script>
)}
